version: '3.9'
services:
  web:
    environment:
      DJANGO_SECRET_KEY: django_secret_key
      DB_PASSWORD: db_password
      EMAIL_HOST_PASSWORD: email_host_password
      MAILGUN_API_KEY: mailgun_api_key
      DEEPL_API_KEY: deepl_api_key

  database:
    environment:
      POSTGRES_PASSWORD: db_password
