[uwsgi]
uid = www-data
gid = www-data
chdir = /app
module = web.wsgi
master = true
processes = 2
socket = /run/uwsgi/web.sock
chmod-socket = 666
chown-socket = www-data:www-data
enable-threads = true
{{ if eq (getenv "ENVIRONMENT") "local" }}
python-autoreload = 1
{{ end }}
harakiri = 120
reload-mercy = 5
worker-reload-mercy = 5
